@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  font-family: 'Biryani', sans-serif;
  background-color: rgb(202, 222, 255);
  height: 100%;
  background-image: url(../images/pacific-austin-NuxrBq5-Sd0-unsplash.jpg);
  background-color: rgb(85, 85, 86);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

label {
  font-size: 1em;
}

input {
  font-size: 2em;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  width: 2em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(85, 85, 86);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* input, */
button,
textarea,
select {
  font: inherit;
}

button {
  height: 3vw;
  width: 8vw;
  font-size: medium;
  border-radius: 1vw;
  color: rgb(62, 62, 62);
  border: solid rgb(202, 222, 255);
  background-color: rgb(202, 222, 255);
  transition: 500ms;
  cursor: pointer;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

main {
  display: flex;
  height: 100%;
  opacity: 100%;
  padding-left: 5%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.welcome-nav {
  display: flex;
  width: 100%;
  height: 5vw;
  flex-direction: row;
  font-size: 2vw;
  align-items: center;
  padding: 2vw;
  justify-content: space-between;
  box-shadow: 2px 6px 6px hsl(0deg 0% 0% / 0.1);
  background-color: rgb(85, 85, 86);
}

img {
  padding: 0.5vw;
  height: 8vw;
}

.t {
  font-size: 3vw;
}

.title-wrapper {
  font-family: 'Londrina Outline', sans-serif;
  font-size: 5vw;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  align-content: center;
  text-shadow: 2px 6px 6px rgba(213, 213, 213, 0.1);
  align-items: center;
}

.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
}

.cards {
  display: flex;
  height: 48vw;
  width: 35vw;
  border: 2vw solid rgb(254, 254, 254);
  background-color: rgb(254, 254, 254);
  box-shadow: 1px 1px 5px rgb(126, 126, 126), 1px 1px 10px rgb(181, 181, 181);
  color: rgb(39, 39, 39);
  border-radius: 0.5vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}

.dashboard {
  display: flex;
  height: 46vw;
  width: 89vw;
  color: rgb(77, 77, 77);
  border: 2vw solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 2vw;
  padding: 2vw;
  overflow-y: scroll;
  box-shadow: 1px 1px 5px rgb(91, 91, 91), 1px 1px 10px rgb(114, 114, 114);
  flex-direction: column;
  align-items: center;
}

.dashboard::-webkit-scrollbar {
  width: 2em;
}

.dashboard::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.dashboard::-webkit-scrollbar-thumb {
  background-color: rgb(76, 128, 172);
  outline: 1px solid slategrey;
}

.dashboard:hover {
  color: rgb(21, 21, 21);
  transition: 200ms;
}

.total,
.display-est-cost {
  font-weight: bolder;
  font-style: italic;
  color: rgb(76, 128, 172);
  padding: 2vw;
}

.display-est-cost {
  padding: 0.5vw;
}

.estimated-cost {
  width: 9vw;
  transition: 500ms;
}

.estimated-cost:hover {
  transition: 500ms;
  font-weight: bolder;
}

.greeting {
  color: rgb(70, 70, 70);
  text-shadow: 2px 6px 6px rgba(144, 144, 144, 0.1);
  font-size: 3vw;
}

#submitButton {
  height: 4vw;
  width: 7vw;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.icon {
  height: 6vw;
}

/* The Close Button */
.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.status {
  font-style: italic;
  color: rgb(94, 94, 94);
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login-display {
  height: 30vw;
  width: 35vw;
}

.trips {
  box-shadow: 1px 1px 5px rgb(126 126 126), 1px 1px 10px rgb(181 181 181);
  padding: 1vw;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-style: italic;
  background-color: aliceblue;
}

.trips:hover {
  background-color: white;
}

.user-trips {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.create-trip {
  display: flex;
  height: 48vw;
  width: 35vw;
  border: 2vw solid rgb(254, 254, 254);
  background-color: rgb(254, 254, 254);
  box-shadow: 1px 1px 5px rgb(126, 126, 126), 1px 1px 10px rgb(181, 181, 181);
  color: rgb(39, 39, 39);
  border-radius: 0.5vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1vw;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
